<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>Cars</h1>
        <hr />
        <br />
        <br />
        <button type="button" class="btn btn-success btn-sm" v-b-modal.car-modal>Add Car</button>
        <br />
        <br />
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="id">id</th>
              <th scope="client_name">client name</th>
              <th scope="phone_number">phone number</th>
              <th scope="name">name</th>
              <th scope="serial_name">serial name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(car, index) in cars" :key="index">
              <td>{{ car.id }}</td>
              <td>{{ car.client_name }}</td>
              <td>{{ car.phone_number }}</td>
              <td>{{ car.name }}</td>
              <td>{{ car.serial_number }}</td>
              <td>
                <button type="button"
                        class="btn btn-warning btn-sm"
                        v-b-modal.car-update-modal
                        @click=editCar(car)>Update</button>
                <button
                        type="button"
                        class="btn btn-danger btn-sm"
                        @click=onDeleteCar(car)>Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal ref="addCarModal" id="car-modal" title="Add a new car" hide-footer>
      <b-form @submit="onSubmit" @reset="onReset" class="w-100">
        <b-form-group id="form-make-group" label="Make:" label-for="form-make-input">
          <b-form-input
            id="form-make-input"
            type="text"
            v-model="addCarForm.id"
            required
            placeholder="Enter id"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="form-model-group" label="Model:" label-for="form-model-input">
          <b-form-input
            id="form-model-input"
            type="text"
            v-model="addCarForm.client_name"
            required
            placeholder="Enter client name"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="form-year-group" label="Year:" label-for="form-year-input">
          <b-form-input
            id="form-year-input"
            type="text"
            v-model="addCarForm.phone_number"
            required
            placeholder="Enter phone number"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="form-make-group" label="Make:" label-for="form-make-input">
          <b-form-input
            id="form-make-input"
            type="text"
            v-model="addCarForm.name"
            required
            placeholder="Enter name"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="form-make-group" label="Make:" label-for="form-make-input">
          <b-form-input
            id="form-make-input"
            type="text"
            v-model="addCarForm.serial_number"
            required
            placeholder="Enter serial number"
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </b-modal>
    <b-modal ref="editCarModal"
         id="car-update-modal"
         title="Update"
         hide-footer>
  <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
  <b-form-group id="form-make-edit-group"
                label="ID:"
                label-for="form-make-edit-input">
      <b-form-input id="form-make-edit-input"
                    type="integer"
                    v-model="editForm.id"
                    required
                    placeholder="Enter id">
      </b-form-input>
    </b-form-group>
    <b-form-group id="form-model-edit-group"
                  label="client name:"
                  label-for="form-model-edit-input">
        <b-form-input id="form-model-edit-input"
                      type="text"
                      v-model="editForm.client_name"
                      required
                      placeholder="Enter client name">
        </b-form-input>
      </b-form-group>
    <b-form-group id="form-year-edit-group"
                  label="Phone number:"
                  label-for="form-year-edit-input">
        <b-form-input id="form-year-edit-input"
                      type="integer"
                      v-model="editForm.phone_number"
                      required
                      placeholder="Enter phone number">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-model-edit-group"
                  label="Name:"
                  label-for="form-model-edit-input">
        <b-form-input id="form-model-edit-input"
                      type="text"
                      v-model="editForm.name"
                      required
                      placeholder="Enter name">
        </b-form-input>
      </b-form-group>
      <b-form-group id="form-model-edit-group"
                  label="Serial number:"
                  label-for="form-model-edit-input">
        <b-form-input id="form-model-edit-input"
                      type="integer"
                      v-model="editForm.serial_number"
                      required
                      placeholder="Enter serial number">
        </b-form-input>
      </b-form-group>
    <b-button-group>
      <b-button type="submit" variant="primary">Update</b-button>
      <b-button type="reset" variant="danger">Cancel</b-button>
    </b-button-group>
  </b-form>
</b-modal>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      cars: [],
      addCarForm: {
        id: '',
        client_name: '',
        phone_number: '',
        name: '',
        serial_number: '',
      },
      editForm: {
        id: '',
        client_name: '',
        phone_number: '',
        name: '',
        serial_number: '',
      },
    };
  },
  methods: {
    getCars() {
      const path = 'http://85.192.35.28:5129/api/callcenter';
      axios
        .get(path)
        .then((res) => {
          this.cars = res.data.items;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addCar(payload) {
      const path = 'http://85.192.35.28:5129/api/callcenter';
      axios
        .post(path, payload)
        .then(() => {
          this.getCars();
        })
        .catch((error) => {
          // eslint-disable-next-line
         console.error(error);
          this.getCars();
        });
    },
    initForm() {
      this.addCarForm.id = '';
      this.addCarForm.client_name = '';
      this.addCarForm.phone_number = '';
      this.addCarForm.name = '';
      this.addCarForm.serial_number = '';
    },
    onSubmit(e) {
      e.preventDefault();
      this.$refs.addCarModal.hide();
      const payload = {
        id: this.addCarForm.id,
        client_name: this.addCarForm.client_name,
        phone_number: this.addCarForm.phone_number,
        name: this.addCarForm.name,
        serial_number: this.addCarForm.serial_number,
      };
      this.addCar(payload);
      this.initForm();
    },
    onReset(e) {
      e.preventDefault();
      this.$refs.addCarModal.hide();
      this.initForm();
    },
    removeCar(carID) {
      const path = `http://85.192.35.28:5129/api/callcenter/${carID}`;
      axios.delete(path)
        .then(() => {
          this.getCars();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getCars();
        });
    },
    onDeleteCar(car) {
      this.removeCar(car.id);
    },
    editCar(car) {
      this.editForm = car;
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editCarModal.hide();
      const payload = {
        id: this.editForm.id,
        client_name: this.editForm.client_name,
        phone_number: this.editForm.phone_number,
        name: this.editForm.name,
        serial_number: this.editForm.serial_number,
      };
      this.updateCar(payload, this.editForm.id);
    },
    updateCar(payload, carID) {
      const path = `http://85.192.35.28:5129/api/callcenter/${carID}`;
      axios.put(path, payload)
        .then(() => {
          this.getCars();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getCars();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editCarModal.hide();
      this.initForm();
      this.getCars(); // why?
    },
  },
  created() {
    this.getCars();
  },
};
</script>
